@mixin center-parent
    display: flex
    justify-content: center
    align-items: center

@mixin main-block-center
    max-width: 160rem
    margin: auto 

@mixin white-opacity($opacity)
    background-color: rgb(255, 255, 255, $opacity)

@mixin background
    background-image: url('../../img/19742.webp')
    background-size: 18%
    background-repeat: repeat

@mixin success-answer
    position: absolute
    width: 20rem
    text-align: center
    top: 3.5rem
    left: 18.5rem

@mixin respond($breakpoint)
    @if $breakpoint == phone 
        @media only screen and (max-width: 670px)
            @content

    @if $breakpoint == tab-port-xs
        @media only screen and (max-width: 767px)
            @content

    @if $breakpoint == tab-port-s
        @media only screen and (max-width: 860px)
            @content

    @if $breakpoint == tab-port-m
        @media only screen and (max-width: 960px)
            @content

    @if $breakpoint == tab-port-l
        @media only screen and (max-width: 1080px)
            @content
    
    @if $breakpoint == tab-land
        @media only screen and (max-width: 1200px)
            @content

    @if $breakpoint == big-screen
        @media only screen and (min-width: 1800px)
            @content