@import './mixins.sass'
@import './typography.sass'
@import './variables.sass'



*, ::after, ::before
  margin: 0
  padding: 0
  box-sizing: border-box


html
  font-size: 62.5%
  // @include respond(tab-land)
  //       font-size: 55%
  // @include respond(tab-port-b)
  //       font-size: 50%
  // @include respond(big-screen)
  //       font-size: 80%

body
  font-family: "Open Sans", sans-serif
  max-width: 160rem
  font-weight: 400
  font-size: 1.6rem
  margin: 0 auto
  background-color: white

