//Цвет текста
$color-gray: #777777

//Основные цвета сайта
$color-brown-light: #BA8554
$color-brown-dark: #A14F03

//Черный и белый цвет сайта
$color-black: #000000
$color-white: #ffffff

//Тень для кнопок
$box-shadow: (0px .4rem .4rem rgba(0, 0, 0, 0.3))
$shadow-h2: 0rem .4rem .4rem rgba($color-black, .25)

//Отступы
$margin-vertical-big: 8rem
$grid-width: 114rem
$gutter-horizontal: 6rem

//Типографика
$font-size-paragraph: 1.6rem
$font-size-paragraph-h2: 3.6rem
$font-size-paragraph-h3: 2rem
