$color-gray: #ced6e7
$color-outline: #dd9831

$color-black: #000000
$color-white: #ffffff

$box-shadow-s: (0px .4rem .4rem rgba(0, 0, 0, 0.3))
$box-shadow-h: rgba(0, 0, 0, 0.3) 0px 15px 38px, rgba(0, 0, 0, 0.22) 10px 5px 12px

$border-radius-m: 3rem
$border-radius-s: 2rem

$hr-width: .2rem
