@import '@/styles/style.sass'

.registration-form
    @include white-opacity(0.6)
    backdrop-filter: blur(10px)
    height: 100vh
    &__wrapper
        max-width: 60rem
        position: relative
        top: 5rem
        padding-top: 1.5rem
        @include center-parent
        margin: auto
        border-radius: 3.5rem
        padding-left: .2rem
        @include white-opacity(0.7)
        box-shadow: $box-shadow-h

