.container
    display: grid
    grid-template-rows: repeat(2, minmax(min-content, 10vh)) minmax(min-content, 80vh) min-content
    grid-template-columns:  minmax(10rem, 1fr)  minmax(min-content, 12fr) minmax(10rem, 1fr)


.main
    background-color: #61A568
    grid-column: 1 / span 3
    grid-row: 3 / span 1
    display: grid
    grid-template-rows: repeat(8,  minmax(min-content, 1fr)) 
    grid-template-columns: repeat(20, minmax(min-content, 1fr))


    


