@import '@/styles/style.sass'
    
.edit-ad
    @include background
    &__wrapper
        width: 60rem
        position: relative
        top: -.1rem
        @include white-opacity(0.2)
        backdrop-filter: blur(3px)
        padding: 2rem
        margin: 0 auto
        border-radius: $border-radius-m
        border: .2rem solid $color-gray
        .button
            margin-bottom: 1.5rem

.success-answer
    @include success-answer