@import '@/styles/style.sass'
    
.login-form
    &-background
        @include white-opacity(0.6)
        backdrop-filter: blur(10px)
        height: 100vh
    &__wrapper
        max-width: 35rem
        position: relative
        padding-top: 1.5rem
        margin: auto
        border-radius: 3.5rem
        padding-left: 2rem
        top: 5rem
        @include center-parent
        @include white-opacity(0.7)
        box-shadow: $box-shadow-h
    &-forgot
        float: right

    .ant-col-rtl .login-form-forgot
        float: left

    &-button
        width: 100%
        margin-bottom: 1rem

    .ant-col-rtl .login-form-forgot
        float: left
        

