@import '../../styles/style.sass'

.section-main
    // background-color: grey
    background-image: url('../../img/Flat-photo.webp')
    background-position: right 0% bottom 50%
    background-repeat: no-repeat
    background-size: cover
    width: 160rem
    height: 70rem
    margin: 0 auto
    // filter: blur(5px)

