@import '@/styles/style.sass'
    
.map
    height: 50vh
    z-index: 2
    overflow: hidden
    @include center-parent
    border-top: .2rem solid $color-gray
    border-bottom: .2rem solid $color-gray
    border-radius: $border-radius-s
    &__ads-list 
        width: 50vw
        height: 100vh
        z-index: 2
        overflow: hidden
        @include center-parent
        border-right: .2rem solid $color-gray
    &__ad-list 
        width: 90vw
        height: 80vh
        margin: auto
        z-index: 2
        overflow: hidden
        @include center-parent
        border-right: .2rem solid $color-gray
