@import '@/styles/style.sass'
    
.agreements
    @include background
    &__wrapper
        max-width: 60vw
        min-height: max-content
        position: relative
        top: -.2rem
        @include white-opacity(0.2)
        backdrop-filter: blur(3px)
        padding: 2.5rem 2.5rem
        margin: 0 auto -.2rem auto
        border-radius: $border-radius-m
        border: .2rem solid $color-gray
        text-align: justify
    &__title
        text-align: center
        margin-bottom: 1rem
        font-size: 2.8rem
        font-weight: 700