@import '../../styles/style.sass'

.header
    @include main-block-center
    @include center-par
    background-color: white
    min-height: 7rem
    justify-content: space-between
    &__left-side 
        @include center-par
        justify-content: flex-start
    &__logo
        margin-right: 2rem
        text-decoration: none
        text-transform: uppercase
        font-weight: 700

    &__navigation
        &__item
            text-decoration: none
            &:not(:last-child)
                margin-right: 1rem

    &__right-side

.search-panel
    // width: 15rem
    // height: 3rem
    // background: url('../../icons/search.svg') no-repeat
    // background-size: 2rem
    // background-origin: padding-box
    // background-position: left 1rem center
    // padding-left: 3.5rem
    // border: solid 1px 
    // border-radius: 3.5rem





