.header
    background-color: red
    grid-column: 2 / -2
    grid-row: 1 / 2
    width: 140rem
    
.header-container
    // width: 100vw
    // height: 100%
    display: flex
    justify-content: space-between
    align-items: center

    &__left
        width: 40%
        background-color: #61A568
        display: flex
        justify-content: center
        align-items: center
    &__right
        width: 40%
        background-color: #425844
        display: flex
        justify-content: center
        align-items: center
    
    




