@import '../../styles/style.sass'

.header
    @include main-block-center
    display: flex
    align-items: center
    background-color: white
    min-height: 7rem
    justify-content: space-between
    &__left-side 
        @include center-par
        padding-left: 5rem
    &__logo
        margin-right: 2rem
        text-decoration: none
        text-transform: uppercase
        font-weight: 700

    &__navigation
        &__item
            text-decoration: none
            &:not(:last-child)
                margin-right: 1rem

    &__right-side
        margin-right: 5rem

.btn
    text-decoration: none
    @include center-par
    transition: all .2s
    border: none
    font-family: inherit
    color: black
    background-color: #f8c20a
    border-radius: .6rem
    height: 4.4rem
    width: 24rem
    font-weight: 500
    span
        font-size: 2.9rem
        margin-right: .7rem 
    &:hover 
        transform: translateY(-.3rem)
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2)
    &:active 
        transform: translateY(-.1rem)
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2)

.search-panel
    // width: 15rem
    // height: 3rem
    // background: url('../../icons/search.svg') no-repeat
    // background-size: 2rem
    // background-origin: padding-box
    // background-position: left 1rem center
    // padding-left: 3.5rem
    // border: solid 1px 
    // border-radius: 3.5rem





