
.filters-panel
    position: relative
    z-index: 3
    background-color: yellow
    width: 160rem
    height: 9rem
    margin: 0 auto
    &__main
        width: 120rem
        margin: 0 auto

.ant-flex
    border: none !important
