@import '../../styles/style.sass'

.filters-panel
    position: relative
    z-index: 3
    background-color: $color-white
    height: 6rem
    border-bottom: .2rem solid $color-gray
    &__main
        width: 120rem
        margin: auto
        position: relative
        top: 12%
        .anticon
            transform: rotate(90deg)
        .ant-flex
            border: none !important
        .ant-collapse
            &-item
                width: 20rem
                &-active
                    svg 
                        transform: rotate(-180deg) !important
            &-content
                &-box
                    p
                        input, span
                            font-size: 1.6rem
            &-header
                align-items: center !important
                &-text
                    font-size: 1.6rem





