@import '../../styles/style.sass'
    
.map  
    width: 80rem
    height: 70rem
    position: relative
    z-index: 2
    overflow: hidden
    // height: 68rem
    // padding: 1rem
    @include center-par
    margin: 0 auto
    border-radius: 3.5rem
    border: solid black 1.5px
    // padding-left: .2rem
    // filter: blur(0px)
    background-color: white
    // backdrop-filter: blur(5px)